@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300,400,600,700');

$base-font: 'Open Sans', sans-serif;
$alt-font: 'Montserrat', sans-serif;

h1, .h1 { font-size: 3em; }
h2, .h2 { font-size: 1.5em; }
h3, .h3 { font-size: 1.17em; }
h4, .h4 { font-size: 1em; }
h5, .h5 { font-size: 0.83em; }
h6, .h6 { font-size: 0.75em; }

p {
  line-height: 1.5;
  margin: 0 0 1em;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a,
a:visited   {   text-decoration: underline; }
a:hover     {   text-decoration: none; }

strong  {   font-weight: bold;  }
em      {   font-style: italic; }
